**/**/**.tmp
**/**.tmp
**.tmp**
**/**/**.o
**/**.o
**.o
**.**.cmd
vmlinux
vmlinux.o
System.map
.missing-syscalls.d
.version
.tmp_versions
build
./arch/arm64/dtb
./arch/arm64/Image.gz
**~
**/**.order
**/**/**/**.o
**/**/**/**/**.o
.config.old
**.order
*.o
*/*/*/*.o
*/*/*.o.d
.config
Module.symvers
arch/arm64/boot/dtb/
arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/lib/lib.a
include/config/
include/generated/
kernel/bounds.s
lib/lib.a
scripts/mod/devicetable-offsets.s
usr/.initramfs_data.cpio.d
